
<ion-view view-title="Contact Us">
  <ion-content >
      <div class="card">
          <div class="item item-text-wrap">
              
             <a href="mailto:contact@hackindia.io?Subject=Request%20Information" target="_bottom" class="item item-icon-left">
                  <i class="icon ion-email"></i>
                  Send us Email.
              </a>
               <a ng-href="tel:+919158167488" class="item item-icon-left">
                   <i class="icon ion-ios-telephone"></i> 
                   Call us!
              </a>

          </div>
      </div>
  </ion-content>
</ion-view>
