
    <ion-view view-title="Schedule">
      <ion-content class="padding">

        <div class="list card" id="card1">
            
        
            <div class="item item-divider" id="test">Saturday, July 18<sup>th</sup>
            
            <span class="item-note">
                <label class="toggle toggle-balanced">
                <input type="checkbox" ng-click="showScheduleSat()">

                    <div class="track">
                        <div class="handle"></div>
                    </div>    
                </label>
            </span>

        </div>
          <div class="item item-body" id="schedule1">
              <ul>
                  <li class="item">
                      Registration
                  
                      <span class="item-note">
                      
                          9:00am-11:00am
                  
                      </span> 
                  </li>

              <li class="item">    
                  Opening Ceremony
                  <span class="item-note">
                      11:00am-12:00pm
                  </span> 
              </li>
              <li class="item">    
                  Lunch
                  <span class="item-note">
                      12:00pm-1:00pm
                  </span> 
              </li>
              <li class="item">    
                  Hacking Begins!
                  <span class="item-note">
                      1:00pm
                  </span> 
              </li>   
              <li class="item">    
                  Dinner
                  <span class="item-note">
                      7:00pm-8:00pm
                  </span> 
              </li> 
              
              <li class="item">    
                  Midnight Snack
                  <span class="item-note">
                      12:00am
                  </span> 
              </li>              
            
              </ul>
          </div>
        </div>
          
       <div class="list card" id="card2">
            
        
            <div class="item item-divider">Sunday, July 19<sup>th</sup>
            
            <span class="item-note">
                <label class="toggle toggle-balanced">
                <input type="checkbox" ng-click="showScheduleSun()">

                    <div class="track">
                        <div class="handle"></div>
                    </div>    
                </label>
            </span>

        </div>
          <div class="item item-body" id="schedule2">
              <ul>

              <li class="item">    
                  Breakfast
                  <span class="item-note">
                      8:00am-9:00am
                  </span> 
              </li>
              <li class="item">    
                  Project Submissions Due!
                  <span class="item-note">
                      12:00pm
                  </span> 
              </li>
              <li class="item">    
                  Lunch + Demo Fair
                  <span class="item-note">
                      12:00pm-2:00pm
                  </span> 
              </li>
              <li class="item">    
                  Finalists Announced
                  <span class="item-note">
                      2:00pm
                  </span> 
              </li>   
              <li class="item">    
                  Closing Ceremony
                  <span class="item-note">
                      2:00pm-3:00pm
                  </span> 
              </li> 
              
              <li class="item">    
                  Goodbye!
                  <span class="item-note">
                      4:00pm
                  </span> 
              </li>
              </ul>
                  

          </div>
        </div>
          
      </ion-content>
    </ion-view>
