<ion-view view-title="Sponsors">
  <ion-content>   
      <div class="row" id="sponsorRow">
          <div class="col"><img class="sponsor"  src="img/sponsors/stayzilla.png"/></div>        
      </div>  
      <div class="row" id="sponsorRow">
          <div class="col"><img class="sponsor"  src="img/sponsors/fracktal-works.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/branch.png"/></div>
      </div> 
      <div class="row" id="sponsorRow">
          <div class="col"><img class="sponsor"  src="img/sponsors/bangalore-makerspace.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/pes.png"/></div>
      </div>
      
      <div class="row" id="sponsorRow">
          <div class="col"><img class="sponsor"  src="img/sponsors/digitalocean.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/pusher.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/opbeat.png"/></div>

      </div>
      <div class="row" id="sponsorRow">
          <div class="col"><img class="sponsor"  src="img/sponsors/rocketship.png"/></div>       
          <div class="col"><img class="sponsor"  src="img/sponsors/codeanywhere.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/ibm.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/github.png"/></div>
      </div>
      <div class="row" id="sponsorRow">
          
          <div class="col"><img class="sponsor"  src="img/sponsors/creatorbot.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/pebble.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/plugzee.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/wafer-tag.png"/></div>
          
      </div>          
      <div class="row" id="sponsorRow">

          <div class="col"><img class="sponsor"  src="img/sponsors/robocraze.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/sense360.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/u25.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/mozilla.png"/></div>
      </div>          
      <div class="row" id="sponsorRow">
          
          <div class="col"><img class="sponsor"  src="img/sponsors/prophesee.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/pes-opensource.jpg"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/look.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/google-student-ambassador.png"/></div>
      </div>       
      <div class="row" id="sponsorRow">    
          <div class="col"></div>
          
          <div class="col"><img class="sponsor"  src="img/sponsors/workbench-projects.png"/></div>
          <div class="col"><img class="sponsor"  src="img/sponsors/scrollback.png"/></div> 
          <div class="col"><img class="sponsor"  src="img/sponsors/bhive.png"/></div>
          <div class="col"></div>
          
      </div>
      <div class="row" id="sponsorRow">
          <div class="col"></div>
          <div class="col"></div>
      </div>
  </ion-content>
</ion-view>
